body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #332f4d;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* 
var(--);
*/

:root {
    /* Colors */
    --PrimaryBackground: #D99AD5;
    --PrimaryBackgroundGradient: linear-gradient(to right, #D99AD5, #9b4d96);
    --PrimaryObjects: #504883;
    --PrimaryObjectsSub1: #46406b;
    --PrimaryObjectsSub2: #332f4d;

    --SecondaryBackground: #F2865E;
    --SecondaryBackgroundGradient: linear-gradient(to right, #F2865E, #993e1d);
    --SecondaryObjects: #FE955E;
    --SecondaryObjectsSub1: #cf6c36;
    --SecondaryObjectsSub2: #ac5d33;

    --Button: #1D5902;

    --RedDark: #6c1414;
    --RedMedium: #d44141;
    --RedLight: #eec4c4;

    --GrayDarker: #161616;
    --GrayDark: #2c2c2c;
    --GrayMedium: #707070;
    --GrayLight: #eceeed;

    --White: #fafafa;
    --Transparent: hsla(0, 0%, 0%, 0);
    --TestingArea: hsla(0, 0%, 100%, 0.2);

    /* Font Sizes */
    --FontSizeH1: 3rem;
    --FontSizeH2: 2.5rem;
    --FontSizeH3: 2rem;
    --FontSizeH4: 1.75rem;
    --FontSizeH5: 1.5rem;
    --FontSizeH6: 1.25rem;
    --FontSizeH7: 1rem;
    --FontSizeH8: 0.875rem;
    --FontSizeH9: 0.75rem;
    --FontSizeH10: 0.625rem;
}