.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.video-display {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: aliceblue;
    width: 80%;
    height: 70%;
    margin-left: -5%;
    margin-top: -5%;
    padding: 2rem;
    border-radius: 1.25rem;
}

.areaForScreenVideo {
    display: block;
    width: 70%;
    height: 90%;
    background: linear-gradient(to right, #53577c, #163858);
    border-width: 0.125rem;
    border-color: crimson;
    border-radius: 0.625rem;
    border-style: solid;
}

.informationSession {
    display: flex;
    justify-content: space-between;
    background-color: fuchsia;
    gap: 5%;
}

.titleSession {
    font-size: 1.25rem;
    color: aliceblue;
    margin-left: 0.5rem;
    width: 40%;
}

.screenVideo {
    width: 100%;
    height: 95%;
    margin-bottom: 0.3125rem;
}

.informationLivestream {}


.endLivestreamSessionButton {
    width: auto;
    padding: 0.5rem 1rem;
    background-color: crimson;
    color: aliceblue;
    border-radius: 20px;
    border: 4px solid aliceblue;
}

.endLivestreamSessionButton:hover {
    opacity: 50%;
    cursor: pointer;
}

.interact-section {
    width: 25%;
    height: 90%;
    margin-left: 2%;
    background: linear-gradient(to right, #53577c, #163858);
}

.areaForCameraVideo {
    width: 90%;
    height: 30%;
    margin-left: 2%;
    margin-top: 2%;
    background: linear-gradient(to right, #53577c, #163858);
    border-width: 0.125rem;
    border-color: crimson;
    border-radius: 0.625rem;
    border-style: solid;
}

.cameraVideo {
    width: 100%;
    height: 100%;
}


.areaForChatting {
    width: 90%;
    height: 60%;
    margin-left: 2%;
    margin-top: 2%;
    background: aliceblue;
    word-break: break-word;
    overflow-y: auto;
}