.loginBackground {
    width: 100%;
    height: 100vmin;
    background: var(--SecondaryBackgroundGradient);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    background-color: var(--White);
    width: 30%;
    height: 'auto';
    padding-bottom: 1%;
    border: 0.3rem var(--RedMedium) solid;
    border-radius: 1rem;
    display: block;
}

.loginForm-label {
    font-size: var(--FontSizeH3);
    display: flex;
    justify-content: center;
    height: 15%;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.loginForm-errorMessage {
    font-size: var(--FontSizeH7);
    color: var(--RedMedium);
    display: flex;
    justify-content: center;
    font-weight: bold;
}