.singleLabelText-label,
.singleLabelComboBox-label {
    margin-left: 2rem;
    font-size: var(--FontSizeH6);
    font-weight: bold;
}

.singleLabelText-redDot,
.singleLabelComboBox-redDot {
    color: var(--RedMedium);
}

.singleLabelText-input {
    font-size: 1rem;
    display: flex;
    width: 85%;
    height: 110%;
    padding: 0.35rem 0.5rem;
    margin: 0.5rem 2rem 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--GrayLight);
    outline: none;
    transition: border-color 0.3s ease;
    /* Hiệu ứng mượt mà khi đổi màu viền */
}

.singleLabelText-input:hover {
    border-color: var(--GrayMedium);
    /* Viền đậm hơn khi hover */
}

.singleLabelText-input:focus {
    border-color: var(--PrimaryObjects);
    /* Viền đổi màu khi chọn để nhập liệu */
    border-width: 3px;
    /* Viền đậm hơn */
}

/* ***** */
.singleLabelComboBox-select {
    font-size: 1rem;
    display: flex;
    width: 85%;
    height: 110%;
    padding: 0.35rem 0.5rem;
    margin: 0.5rem 2rem 1.5rem;
    border-radius: 5px;
    border: 2px solid var(--GrayLight);
    outline: none;
    transition: border-color 0.3s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.singleLabelComboBox-select::-ms-expand {
    display: none;
}

.singleLabelComboBox-select-container {
    position: relative;
    /* Linh hoạt UI theo trạng thái drop down */
}

.singleLabelComboBox-select-container::after {
    content: '\2193';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--GrayLight);
    pointer-events: none;
}