body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ff7e5f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginForm {
  background-color: aliceblue;
  width: 400px;
  height: 470px;
  border: 3px rgb(255, 218, 116) solid;
  border-radius: 10px;
  display: block;
}

.loginBackground {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #ba43ff); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm-label {
  font-size: 40px;
  display: flex;
  justify-content: center;
  height: 80px;
  padding-top: 20px;
  font-weight: bold;
}

.inputLogin-label {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.inputLogin-ImageInputArea {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.inputLogin-input {
  width: 85%;
  padding-left: 10px;
  font-size: 16px;
}

.loginForm-a {
  font-size: 12px;
  text-decoration: underline;
  justify-content: end;
  display: flex;
  padding-right: 20px;
  color: rgb(133, 33, 255);
}

.loginForm-button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 2px transparent solid;
  border-radius: 10px;
  color: black;
  background-color: rgb(255, 197, 211);
}

.loginForm-button:hover {
  opacity: 40%;
}

.loginForm-button:active {
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.loginForm-buttonArea {
  display: flex;
  justify-content: center;
}

.loginForm-h2 {
  font-size: 20px;
  color: red;
  padding-left: 20px;
  padding-top: 10px;
}

.loginForm-errorMessage {
  height: 50px;
  margin-bottom: 10px;
}

.RegistrationForm {
  background-color: aliceblue;
  width: 500px;
  height: 700px;
  border: 3px rgb(255, 218, 116) solid;
  border-radius: 10px;
  display: block;
}

.RegistrationBackground {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #ff7e5f, #ba43ff); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.RegistrationForm-label {
  font-size: 40px;
  display: flex;
  justify-content: center;
  height: 80px;
  padding-top: 20px;
  font-weight: bold;
}

.RegistrationForm-a {
  font-size: 12px;
  text-decoration: underline;
  justify-content: end;
  display: flex;
  padding-right: 20px;
  color: rgb(133, 33, 255);
}

.RegistrationForm-button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 2px transparent solid;
  border-radius: 10px;
  color: black;
  background-color: rgb(255, 197, 211);
}

.RegistrationForm-button:hover {
  opacity: 40%;
}

.RegistrationForm-button:active {
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.RegistrationForm-buttonArea {
  display: flex;
  justify-content: center;
}

.RegistrationForm-h2 {
  font-size: 20px;
  color: red;
  padding-left: 20px;
  padding-top: 10px;
}

.RegistrationForm-errorMessage {
  height: 50px;
  margin-bottom: 10px;
}

.loginForm-a:hover, .RegistrationForm-a:hover{
  opacity: 40%;
  cursor: pointer;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100vw;
  height: 100vh;
}

.video-display {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: aliceblue;  
  width: 1500px;
  height: 700px;
  margin-left: -100px;
  margin-top: -100px;
  padding: 20px;
  border-radius: 20px;
}

.areaForScreenVideo {
  display: block;
  width: 70%;
  height: 90%;
  background: #ff7e5f;
  border-width: 2px;
  border-color: red;
  border-radius: 10px;
  border-style: solid;
}

.titleSession {
  font-size: 20px;
  color: aliceblue;
  margin-left: 10px;
  width: 600px;
}

.interact-section {
  width: 25%;
  height: 90%;
  margin-left: 50px;
  background: #ff7e5f;
}

.areaForCameraVideo {
  width: 90%;
  height: 30%;
  margin-left: 20px;
  margin-top: 20px;
  background: #ff7e5f;
  border-width: 2px;
  border-color: red;
  border-radius: 10px;
  border-style: solid;
}

.areaForChatting {
  width: 90%;
  height: 60%;
  margin-left: 20px;
  margin-top: 20px;
  background: aliceblue;
  word-break: break-all;
  overflow-y: auto;
}

.screenVideo {
  width: 100%;
  height: 95%;
  margin-bottom: 5px;
}

.cameraVideo {
  width: 100%;
  height: 100%;
}

.informationSession {
  display: flex;
  gap: 91%;
}

.areaForChattingViewerSide {
  width: 90%;
  height: 85%;
  margin-left: 20px;
  margin-top: 20px;
  background-color: aliceblue;
  word-break: break-all;
  overflow-y: auto;
}

.displayTotalViewer {
  position: absolute;
  top: 0;
  left: 7%;
  justify-content: left;
  align-items: start;
  display: flex;
  padding: 10px;
}

.viewerInformation {
  color: #ba43ff;
  font-size: 20px;
  margin-top: -10px;
}

.fullScreenIcon {
  color: #15bd80;
  size: 15px;
  margin-top: 10px;
}

.fullScreenIcon:hover {
  opacity: 50%;
  cursor: pointer;
}

.viewerMessage {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.areaForTextingMessage {
  padding-left: 19px;
  padding-top: 10px;
  height: 65px;
  display: flex;
}

.InputMessage {
  width: 80%;
  height: 75%;
}

.inputMessageComponent {
  height: 80%;
  width: 95%;
  padding-left: 6px;
}

.sendButton {
  width: 20%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendButtonIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.sendButtonIcon:hover {
  opacity: 30%;
}

.sendButtonIcon:active {
  opacity: 0%;
  width: 20px;
  height: 20px;
}

.home, .about {
  width: 100vw;
  height: 100vh;
  background: #ff7e5f;
}

.mainContent {
  padding-top: 40px;
  padding-left: 100px;
}

.LivestreamList {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
}

.livestreamItem {
  width: 300px;
  height: 350px;
  background: #ba43ff;
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.livestreamItem:hover {
  cursor: pointer;
  opacity: 50%;
}

.imageLivestreamItem {
  width: 290px;
  height: 240px;
  margin-bottom: 5px;
}

.headerLivestreamItem {
  font-size: 16px;
  font-weight: bold;
  color: aliceblue;
  display: block;
  height: 18%;
}

.nickNameLivestreamItem {
  font-size: 12px;
  font-weight: 200;
  color: aliceblue;
}

.optionBar {
  display: flex;
  justify-content: left;
  margin-bottom: 10px;
}

.inputLivestream {
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.createLivestreamButton {
  margin-left: 30px;
  width: 250px;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  color: aliceblue;
  border-color: transparent;
  border-width: 1px;
  border-radius: 14px;
  background-color: #15bd80;
  margin-top: 10px;
}

.createLivestreamButton:hover {
  opacity: 50%;
  cursor: pointer;
}

.labelLivestreamSession {
  color: aliceblue;
  font-size: 26px;
  font-weight: bold;
}

.areaPlayButton {
  width: 100%;
  height: 96.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playLivestream-valid {
  width: 200px;
  height: 200px;
  border-width: 0px;
  border-radius: 50%;
  background-size: cover;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3686/3686899.png");
}

.playLivestream-invalid {
  display: none;
}

.playLivestream-valid:hover {
  cursor: pointer;
  opacity: 50%;
}

.imageList {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
}

.imageItem {
  width: 220px;
  height: 190px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 4px solid transparent,
}

.selectedImageItem {
  width: 220px;
  height: 190px;
  margin-right: 20px;
  margin-bottom: 20px;
  opacity: 40%;
}

.createLivestream {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.checkedIcon {
  width: 100px;
  height: 100px;
  color: #ba43ff;
}

.formCreateLivestream {
  display: block;
  width: 1500px;
  height: 800px;
}

.backIcon {
  position: absolute;
  left: 11%;
  width: 30px;
  height: 30px;
}

.backIcon:hover {
  opacity: 50%;
  cursor: pointer;
}

.positionTitleLivestream {
  justify-content: center;
  align-items: center;
  display: flex;
}

.titleLivestream {
  font-size: 32px;
  color: aliceblue;
  font-weight: bold;
}

.labelLivestream {
  font-size: 20px;
  color: aliceblue;
}

.inputLivestreamInformation {
  display: grid;
  padding-top: 20px;
}

.inputLivestream {
  height: 35px;
  width: 1000px;
  padding-left: 10px;
  margin-top: 10px;
  font-size: 16px
}

.positionButtonCreateLivestream {
  display: flex;
  align-items: center;
  justify-content: right;
}

.buttonCreateLivestream {
  width: 120px;
  height: 40px;
  margin-right: 100px;
  background-color: #ba43ff;
  border-width: 2px;
  border-style: solid;
  border-color: aliceblue;
  color: aliceblue;
  border-radius: 20px;
  font-size: 20px;
}

.buttonCreateLivestream:hover {
  opacity: 50%;
  cursor: pointer;
}

.briefIntroduction {
  width: 100vw;
  height: 400px;
  background: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introductionCard {
  width: 250px;
  height: 320px;
  background-color: aliceblue;
  margin-left: 20px;
  margin-right: 20px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  border-color: #ff7e5f;
  display: block;
}

.numberArea {
  width: 100%;
  height: 70%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.numberAboutUs {
  font-size: 120px;
  color: #ff7e5f;
  font-weight: bolder;
}

.contentArea {
  width: 100%;
  height: 30%;
  background-color: #ff7e5f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentAboutUs {
  font-size: 25px;
  color: aliceblue;
  font-weight: bold;
}

.informationAboutUs {
  width: 100vw;
  height: 70%;
  display: block;
  padding-left: 100px;
  padding-top: 30px;
}

.publicInformationArea, .privateInformationArea {
  display: block;
  justify-content: left;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.informationLabel {
  font-size: 28px;
  color: #ba43ff;
  font-weight: bold;
}

.publicInformation {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.labelAboutUs {
  font-size: 20px;
  color: aliceblue;
}

.inputAboutUs {
  width: 240px;
  height: 20px;
  font-size: 16px;
  padding-left: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 0px;
  margin-left: 20px;
  margin-top: 5px;
}

.rowInformation {
  margin-bottom: 10px;
}

.updatePublicInformation {
  width: 80px;
  height: 30px;
  margin-left: 20px;
  border: #15bd80 solid 2px;
  border-radius: 10px;
  background: #15bd80;
  color: aliceblue;
  margin-top: 5px;
}

.updatePublicInformation:hover {
  opacity: 50%;
  cursor: pointer;
}

.updatePrivateInformation {
  width: 100px;
  height: 30px;
  margin-left: 190px;
  margin-top: 20px;
  border: #15bd80 solid 2px;
  border-radius: 10px;
  background: #15bd80;
  color: aliceblue;
}

.updatePrivateInformation:hover {
  opacity: 50%;
  cursor: pointer;
}

.informationLivestream {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 80%;
}

.endLivestreamSessionButton {
  width: 70px;
  height: 30px;
  background-color: red;
  color: aliceblue;
  border-radius: 20px;
  border-width: 4px;
  border-color: aliceblue;
  border-style: solid;
}

.endLivestreamSessionButton:hover {
  opacity: 50%;
  cursor: pointer;
}