.areaForChattingViewerSide {
  width: 90%;
  height: 85%;
  margin-left: 2%;
  margin-top: 2%;
  background-color: aliceblue;
  word-break: break-word;
  overflow-y: auto;
}

.displayTotalViewer {
  position: absolute;
  top: 0;
  left: 7%;
  justify-content: left;
  align-items: start;
  display: flex;
  padding: 0.625rem;
}

.viewerInformation {
  color: #f7ecfe;
  font-size: 1.25rem;
  margin-top: -0.625rem;
}

.fullScreenIcon {
  color: #bf2a2a;
  font-size: 1rem;
  margin-top: 0.625rem;
}

.fullScreenIcon:hover {
  opacity: 50%;
  cursor: pointer;
}


.about {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #53577c, #163858); 
}

.areaPlayButton {
  width: 100%;
  height: 96.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playLivestream-valid {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-size: cover;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3686/3686899.png");
}

.playLivestream-valid:hover {
  cursor: pointer;
  opacity: 0.5;
}




.briefIntroduction {
  width: 100%;
  height: auto;
  padding: 2rem;
  background: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.introductionCard {
  width: 15rem;
  height: 20rem;
  background-color: aliceblue;
  border: 0.5rem solid #343743;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.labelAboutUs {
  color: #b4a9da;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem;
}

.numberAboutUs {
  font-size: 4rem;
  color: #343743;
  font-weight: bold;
}

.contentAboutUs {
  font-size: 1.5rem;
  color: aliceblue;
  font-weight: bold;
  text-align: center;
}

.informationAboutUs {
  width: 100%;
  height: fit-content;
  padding: 2rem;
}

.publicInformationArea, .privateInformationArea {
  margin-top: 2rem;
}

.informationLabel {
  font-size: 1.5rem;
  color: #f7ecfe;
  font-weight: bold;
}

.publicInformation, .rowInformation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.inputAboutUs {
  width: calc(100% - 1rem);
  max-width: 15rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 2px solid #343743;
  padding-left: 1rem;
}

.updatePublicInformation, .updatePrivateInformation {
  width: auto;
  height: 2.5rem;
  background: #bf2a2a;
  color: aliceblue;
  border: 2px solid #bf2a2a;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.updatePublicInformation:hover, .updatePrivateInformation:hover {
  opacity: 0.5;
  cursor: pointer;
}